@(message: String, style: String = "scala")


<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

<section id="top">
  <div class="wrapper" >
    <h1 style="float:none !important;">@message</h1>
  </div>
</section>

<div id="content" class="wrapper doc" style="background-color: #2030FB">

    <div class="container">

        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" />
            </div>
        </div>
        </div>


    </div>


