@import play.api.libs.json.JsValue
@(message: String, current_player: String, matrix: String,style: String = "scala")


<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

<section id="top">
  <div class="wrapper" >
    <h1 style="float:none !important;">@message @matrix</h1>
  </div>
</section>

<script language="javascript">
        var ins = 1;


        function changeImage(index) {

            if(ins === 1)
            {
                document.getElementById(index).src="@routes.Assets.versioned("images/yellow.png")";
                ins = 2;
            }
            else
            {
                document.getElementById(index).src="@routes.Assets.versioned("images/red.png")";
                ins = 1;
            }
            showMatrix();
        }

        function showMatrix(){
            var matrixJson = JSON.parse('@matrix'.replace(/&quot;/g, '\"'));
            for (var key in matrixJson){
                var attrName = key;
                var attrValue = matrixJson[key];
                if(attrValue === "empty"){
                    document.getElementById(attrName).src="@routes.Assets.versioned("images/empty.png")";
                }
                if(attrValue === "1"){
                    document.getElementById(attrName).src="@routes.Assets.versioned("images/yellow.png")";
                }
                if(attrValue === "2"){
                    document.getElementById(attrName).src="@routes.Assets.versioned("images/red.png")";
                }

            }
        }

        window.onload = function() {
            showMatrix();
            test();
        }

</script>

<div id="content" class="wrapper doc">

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="00" onclick="changeImage('00')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="01" onclick="changeImage('01')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="02" onclick="changeImage('02')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="03" onclick="changeImage('03')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="04" onclick="changeImage('04')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="05" onclick="changeImage('05')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="06" onclick="changeImage('06')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="10" onclick="changeImage('10')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="11" onclick="changeImage('11')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="12" onclick="changeImage('12')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="13" onclick="changeImage('13')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="14" onclick="changeImage('14')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="15" onclick="changeImage('15')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="16" onclick="changeImage('16')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="20" onclick="changeImage('20')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="21" onclick="changeImage('21')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="22" onclick="changeImage('22')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="23" onclick="changeImage('23')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="24" onclick="changeImage('24')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="25" onclick="changeImage('25')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="26" onclick="changeImage('26')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="30" onclick="changeImage('30')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="31" onclick="changeImage('31')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="32" onclick="changeImage('32')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="33" onclick="changeImage('33')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="34" onclick="changeImage('34')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="35" onclick="changeImage('35')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="36" onclick="changeImage('36')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="40" onclick="changeImage('40')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="41" onclick="changeImage('41')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="42" onclick="changeImage('42')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="43" onclick="changeImage('43')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="44" onclick="changeImage('44')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="45" onclick="changeImage('45')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="46" onclick="changeImage('46')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="50" onclick="changeImage('50')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="51" onclick="changeImage('51')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="52" onclick="changeImage('52')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="53" onclick="changeImage('53')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="54" onclick="changeImage('54')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="55" onclick="changeImage('55')"/>
            </div>
            <div class="col">
                <img src="@routes.Assets.versioned("images/empty.png")" width="137.141" height="130" id="56" onclick="changeImage('56')"/>
            </div>
        </div>
        </div>

</div>
