@(message: String, current_player: String, matrix: String,style: String = "scala")




<section id="top">
    <div class="wrapper" >
        <h1 id="player" style="float:none !important;">Loading...</h1>
        <button  id="button_save" type="button" style="margin-right: 120px;margin-top: 10px" class="btn btn-primary"
                onclick="saveGame()">Save Game</button>
        <button  id="button_load" type="button" style="margin-left: 120px;margin-top: 10px"  class="btn btn-primary"
                onclick="loadGame()">Load Game</button>
    </div>
</section>

<script language="javascript">

        var current_cell = "00";
        var current_cell_sent = true;
        var current_matrix = '';
        var current_player;
        var game_is_won = false;
        var milliseconds = 1500;

        function changeImage(index) {
            if(current_player == "Yellow"){
                document.getElementById(index).src="@routes.Assets.versioned("images/yellow_fast.svg")";
            } else if(current_player == "Red"){
                document.getElementById(index).src="@routes.Assets.versioned("images/red_fast.svg")";
            }

            if(game_is_won === false){
                current_cell = index;
                current_cell_sent = false;
                init();
            } else{
                startNewGame();
            }

        }

        function showMatrix(){
            var matrixJson = JSON.parse(current_matrix.replace(/&quot;/g, '\"'));
            var emptyCellsExists = 0;
            for (var key in matrixJson){
                var attrName = key;
                var attrValue = matrixJson[key];
                if(attrValue === "empty"){
                    document.getElementById(attrName).src="@routes.Assets.versioned("images/empty.svg")";
                    emptyCellsExists += 1;
                }else if(attrValue === "1"){
                    document.getElementById(attrName).src="@routes.Assets.versioned("images/yellow.svg")";
                }else if(attrValue === "2"){
                    document.getElementById(attrName).src="@routes.Assets.versioned("images/red.svg")";
                }else if(key === "player"){
                    current_player = matrixJson[key];
                    document.getElementById("player").innerHTML = "" + matrixJson[key];
                }else if(key === "won" && matrixJson[key] === "true"){
                    //document.getElementById("player").innerHTML = "" + current_player + " won the game!";
                    game_is_won = true;
                }else if(key === "won" && matrixJson[key] === "false"){
                    game_is_won = false;
                }

            }
            if(game_is_won === true){
                document.getElementById("player").innerHTML = "" + current_player + " won the game!";
            } else if(emptyCellsExists == 0){
                startNewGame();
            }
        }

        function load_data(){
            init();
            showMatrix();
        }

        window.setInterval(load_data, milliseconds);

        /*window.onload = function() {
            load_data();
        }*/
        $('document').ready(function() {
            load_data();
        });

</script>

<div id="content" class="wrapper doc">
        <!--<h2>WebSocket Test</h2>-->
    <div id="output"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="00" onclick="changeImage('00')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="01" onclick="changeImage('01')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="02" onclick="changeImage('02')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="03" onclick="changeImage('03')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="04" onclick="changeImage('04')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="05" onclick="changeImage('05')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="06" onclick="changeImage('06')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="10" onclick="changeImage('10')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="11" onclick="changeImage('11')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="12" onclick="changeImage('12')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="13" onclick="changeImage('13')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="14" onclick="changeImage('14')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="15" onclick="changeImage('15')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="16" onclick="changeImage('16')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="20" onclick="changeImage('20')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="21" onclick="changeImage('21')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="22" onclick="changeImage('22')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="23" onclick="changeImage('23')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="24" onclick="changeImage('24')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="25" onclick="changeImage('25')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="26" onclick="changeImage('26')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="30" onclick="changeImage('30')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="31" onclick="changeImage('31')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="32" onclick="changeImage('32')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="33" onclick="changeImage('33')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="34" onclick="changeImage('34')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="35" onclick="changeImage('35')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="36" onclick="changeImage('36')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="40" onclick="changeImage('40')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="41" onclick="changeImage('41')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="42" onclick="changeImage('42')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="43" onclick="changeImage('43')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="44" onclick="changeImage('44')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="45" onclick="changeImage('45')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="46" onclick="changeImage('46')"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="50" onclick="changeImage('50')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="51" onclick="changeImage('51')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="52" onclick="changeImage('52')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="53" onclick="changeImage('53')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="54" onclick="changeImage('54')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="55" onclick="changeImage('55')"/>
            </div>
            <div class="col">
                <img draggable="false" onmousedown="return false" style="user-drag: none" src="@routes.Assets.versioned("images/empty.svg")" id="56" onclick="changeImage('56')"/>
            </div>
        </div>
    </div>

</div>